<div class="splash-page container-fluid">
<div id="title">
	<h1 class="text-center">Vagabond</h1>
	<h3 class="text-center">A travel community for users to share city-specific tips about their favorite locations around the world</h3>
</div>
</div>
