<div class="splash-page container-fluid">
	<div class="row">
		<div id="title">
			<h1 class="text-center">Vagabond</h1>
			<h3 class="text-center">A travel community for users to share city-specific tips about their favorite locations around the world
			<br>
			<br>
			<p><a href="#anchor" class="text-center btn hide-sm btn-contrast btn-large btn-semi-transparent">
	          How It Works
	        </a></p></h3>
		</div>
	</div>
	<div class="demo-info">
	<a name="anchor"></a>
	<div class="col-md-6 col-md-offset-3">
	<h2><%= link_to "Sign Up ", new_user_path %> to join the Vagabond travel community</h2>
	</div>
	<div class="row">
		<div class="demo1 col-md-3">
		Demo 1
		</div>
		<div class="demo2 col-md-3">
		Demo 2
		</div>
		<div class="demo3 col-md-3">
		Demo 3
		</div>
	</div>
		<div class="demo-text-1 col-md-3 col-md-offset-1">
		<p>Step 1:</p> 
		Create an account and log in, to be able to create and view travel posts.
		
		</div>
		
		<div class="demo-text-2 col-md-3">
		<p>Step 2:</p> 
		View a city and all of the posts for the city, separated by category.

		</div>
		
		<div class="demo-text-3 col-md-3">
		<p>Step 3:</p> 
		Share your story. Add a post about your experience in a city.

		</div>
		</div>
</div>
