
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

body { 
	 
}

.navBar {
	background-color: rgba(119, 117, 117, 0.3);
	font-size: 20px;
	/*position: fixed;*/
	width: 100%;
}


