// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.city-content {
	background-color: rgba(148, 148, 148, 0.75);
	color: white;
	margin: 10px;
	padding: 0 15px 15px 15px;
	
	h1 {
		font-size: 60px;
	}
}
.city-thumbnail {
	border: 1px solid #000000;
	height: 250px;
	margin: 10px;
	position: relative;
}

.city-thumb-name {
	font-size: 35px;
	position: absolute;
	text-align: center;
	top: 60%;
	width: 100%;
	-webkit-text-stroke: 1px #000000;
}

.san-francisco-image {
	background-image: url("san-francisco-pic.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}

.atlanta-image {
	background-image: url("atlanta-pic.jpg");	
	background-repeat: no-repeat;
	background-size: cover;
	
}

.london-image {
	background-image: url("london-pic.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}

.gibraltar-image {
	background-image: url("gibraltar-pic.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}

.portland-image {
	background-image: url("portland-pic.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}

.sydney-image {
	background-image: url("sydney-pic.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}

.mini-nav {
	background-color: #504223;
	width: 100%;
	a {
		font-size: 15px;
	}
	p {
		display: inline-block;
	}
}
.city-posts {
	background-color: #887D65;
	color: #F8EEDA;
	a {
		color: #FFFFFF;
	}
}
.cities-index-headline {
	font-size: 45px;
	margin: 50px 0 30px 0;
}

.post-tags {
	padding: 0 5px 0 5px;
}