// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Lato:900);



.splash-page {

	background-image: url("https://images.unsplash.com/uploads/1413399939678471ea070/2c0343f7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=6534b7c38f4b844913294d2a85c5a783");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	
    #title {
	padding-top: 120px;
	}
	

	h1 {
		color: #FFFFFF;
		font-size: 30px;
		margin-top: 10%;
		
	}

	h2 {
		color: #FFFFFF;
		font-size: 15px;
		
	}

}

