// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Lato:900);



.splash-page {
	background-image: url("https://images.unsplash.com/uploads/1413399939678471ea070/2c0343f7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=6534b7c38f4b844913294d2a85c5a783");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	margin-top: -50px;
	padding-bottom: 70px;
	
	}

	#title {
	
	padding-top: 120px;
	
	}
	
    h1 {
		
	color: #FFFFFF;
	font-size: 45px;
	margin-top: 10%;
		
	}

	h3 {
		
		color: #FFFFFF;
		font-size: 15px;
		
	}

.btn-semi-transparent {
    background: rgba(255,255,255,0.5);
    border-style: none;
    padding: 12px 22px;
    font-size: 16px;
}

.demo1 {
	border: 2px solid #000000;
	height: 300px;
	margin: 10px;
	margin-left: 100px;
	margin-right: 27px;
	background-image: url("signup.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.demo2 {
	border: 2px solid #000000;
	height: 300px;
	margin: 10px;
	background-image: url("all-cities.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.demo3 {
	border: 2px solid #000000;
	height: 300px;
	margin: 10px;
	margin-left: 27px;
	background-image: url("sydney-page.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.demo-text-1 {
	margin-right: 27px;
	font-size: 20px;
	color: #FFFFFF;
	padding-left: 0px;
}

.demo-text-2 {
	font-size: 20px;
	color: #FFFFFF;
}

.demo-text-3 {
	margin-left: 27px;
	font-size: 20px;
	color: #FFFFFF;
	padding-left: 34px;
	padding-bottom: 30px;
	padding-right: 0px;
}

.demo-info {
	top-margin: 200px;
}

h2.signup-text {
	color: black;
}

